<ion-view view-title="Acerca de">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/profile-bg.jpg');">
            <div class="content">
                <div class="avatar" style="background-color: white; background-image: url('img/logo-tecla.png');"></div>
                <h3><a class="light">Alcaldia Municipal de</a></h3>
                <h2><a class="light">Santa Tecla</a></h2>
            </div>
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
           
        </div>
        
         <div class="list half full">
            <div class="card card-gallery item item-text-wrap">
                <div class="ink balanced-bg">
                    <h2>Acerca de</h2>
                </div>
                <h3 style="color: #444; padding: 1em;" class="calm-100">
                    Teclapp es una aplicación móvil que le permite al usuario ubicar los diferentes negocios que se encuentran en Santa Tecla (paseo el carmen), los negocios pueden publicar sus promociones, menu del dia, ofertas de toda indole y el usuario es informado y puede escoger la promoción que mas le guste.
                </h3>
                <div class="" style="height: 2em;">
                    
                </div>
                
                <div class="ink balanced-bg" style="margin-top: 1.5em;">
                    <h2>Agradecimientos</h2>
                </div>
                <h3 style="color: #444; padding: 1em;" class="calm-100">
                    Este proyecto nace como parte de las iniciativas inclusivas y de fomento al desarrollo en la juventud de Santa Tecla, dicho apoyo consistío en el desarrollo de un evento denominado Hackathon, donde muchos jovenes tuvieron la oportunidad de medir sus capacidades tecnicas y profesionales, como resultado de ese evento, esta app fue la ganadora y permitira a sus usuarios estar mejor informado sobre las actividades y ofertas de los negocios en el paseo el carmen.
                </h3>
                
            </div>
    </ion-content>
</ion-view>
